@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: Raleway;
  src:
    url(./FONTS/Raleway-Regular.woff2) format('woff2'),
    url(./FONTS/Raleway-Regular.woff) format('woff');
}

@font-face {
  font-family: Raleway;
  src:
    url(./FONTS/Raleway-Bold.woff2) format('woff2'),
    url(./FONTS/Raleway-Bold.woff) format('woff');
}